@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Roboto:wght@300&family=Source+Sans+Pro:wght@700&display=swap');
.container{
    position:relative;
    background:rgba(133,26,239,0.9);
    height:50vh;
    margin-top:4vh;
    margin-left:2%;
    margin-right:2%;
    transform: perspective(1000px) rotateX(0.6deg); /* Adjust the rotation values as needed */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4); 
    border-radius:1%;
    padding-top:2vh;
}
.heading{
    width:40%;
    margin-left:40%;
     height:20%; 
}
.features{
  height:60%;
  margin-left:45%;
  width:30%;
}
h2{
    font-family: 'Foldit', cursive;
    /* font-family: 'Homemade Apple', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
    font-size:32px;
    color:white;
    text-align:bottom;
}
h4{
    /* transform: perspective(1000px) rotateX(0.6deg); Adjust the rotation values as needed */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4); 
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size:22px;
    color:white;
    width:80%;
}
.img_wrapper{
    position:relative;
    margin-left:87%;
    width:167px;
    height:209px;
    border-radius:20%;
    margin-top:-10%;  
    z-index:9999;  
}
